.user-card, a {
    display: flex;
    width: 350px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    color: gray;
}
.user-card__icon {
    margin: 10px;
    object-fit: none;
    align-self: self-start;
}
.user-card__name {
    margin: 10px;
}
.user-card_darkTheme {
    background-color: dimgrey;
    color: white;
}
