@import '../../constants/css/cssСonstans';

.header {
  display: flex;
  flex-direction: row;
  background-color: $component-bg-color;
  border: 1px solid $component-border-color;
  border-radius: 3px;
  width: 100%;
  margin: 0 6px 6px 6px;
  padding: 6px;
  justify-content: center;

  &__container {
    display: inherit;
    width: 1200px;
    justify-content: space-between;
    padding: 0 12px;
  }
  &__logo {
    display: inherit;
    align-items: center;

    &__icon {
      width: 35px;
      border-radius: 50%;
    }
    &__title {
      color: black;
      margin: 6px;
      font-weight: bold;
      font-size: 24px;

      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }
  &__menu {
    display: inherit;
    align-items: center;

    &__user-icon, &__posts-icon {
      font-size: 25px;
      margin-left: 10px;
    }

    &__title {
      font-size: 20px;
      padding: 6px;
      color: black;

      &:hover {
        color: $hover-color;
        cursor: pointer;
      }
    }
  }
  &__authorization {
    display: inherit;
    align-items: center;
    font-size: 20px;

    &__log-in, &__registration, &__logged, {
      color: black;
      padding: 6px;
      &:hover {
        color: $hover-color;
        cursor: pointer;
      }
    }
    &__logout{
      font-size: 15px;
      color: black;
    }

    &__registration, &__logout {
      border-left: 1px solid rgba(0,0,0, .15);
    }
  }
}
@media (max-width: 500px) {
  .header__logo{
    display: none;
  }
}
