body {
    font-family: sans-serif;
}

.main {
    display: flex;
}

.main_theme_dark {
background-color: rgb(114, 111, 111)
}

.section-header{
    margin-left: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    width: 45%;
    background-color: #eee;
    color: #696b6a;
}

.card_theme_dark {
    background-color: #b5aeae;
}

.first-block {
    display: flex;
    justify-content: space-between;
}


h2 {
    font-size: 2em;
    margin-bottom: 5px;
}

.section {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

.second-block{
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.fish-buy {
    display: flex;
    background-color: #eee;
    padding: 10px;
    margin-top: 10px;

}

.fish-buy:hover {
    background-color: white;
    transition-property: background-color;
    transition-duration: 2s;
}

.fish-buy_theme_dark {
    background-color: #b5aeae;
}

.fish-buy_theme_dark:hover {
    background-color: rgb(114, 111, 111);
    transition-property: background-color;
    transition-duration: 2s;
}

.fish-buy__icon{
    width: 50px;
    height: 50px;
    background-color: #bbbebd;

}
.fish-buy__name{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    color:#fff;
    background-color: #29ab6c;
    margin: 10px 20px 10px 20px;
    height: 55px;
  }

.header_theme_dark {
  background-color: rgb(114, 111, 111)
  }

.header__h1 {
    margin-left: 15px;
    box-sizing: border-box;
    padding: 10px;
}

aside {
    width: 240px;
    padding: 0px 20px 20px 20px;
    margin-left: 20px;
    background-color: #eee;
}

.aside_theme_dark {
    background-color: #b5aeae;
}

@media (max-width: 520px) {
aside {display: none;}
}

.checkbox-group-name {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

aside div {
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}

aside label {
    margin-left: 20px;
}

.section-header__h3 {
    font-size: 1.5em;
}

footer {
    color: #696b6a;
    background-color: #eee;
    margin: 10px 20px 15px 20px;
    height: 35px;
}

.footer_theme_dark {
    background-color: #b5aeae;
}

footer span {
    box-sizing: border-box;
    padding: 10px;
    float: left;
}

.right {
    float: right;
}

