body {
    font-family: sans-serif;
}

div.main {
    display: flex;
}

.section-header{
    margin-left: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    width: 45%;
    background-color: #eee;
    color: #696b6a;
}


#first-block {
    display: flex;
    justify-content: space-between;
}


h1 {
    font-size: 2em;
    margin-bottom: 5px;
}

#section {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

#second-block{
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr

}

.fish-buy {
    display: flex;
    width: 90%;
    background-color: #eee;
    padding: 10px;
    margin-top: 10px;

}
.fish-buy__icon{
    width: 50px;
    height: 50px;
    background-color: #bbbebd;

}
.fish-buy__name{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    color:#fff;
    background-color: #29ab6c;
    margin: 10px 20px 10px 20px;
    height: 55px;
  }

.header__h2 {
    margin-left: 15px;
    box-sizing: border-box;
    padding: 15px;
}

aside {

    width: 240px;
    padding: 0px 20px 20px 20px;
    margin-left: 20px;
    background-color: #eee;
}
@media (max-width: 520px) {
aside {display: none;}
}

aside h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

aside div {
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}

aside label {
    margin-left: 20px;
}


footer {
    color:#a5a8a7;
    background-color: #eee;
    margin: 10px 20px 15px 20px;
    height: 35px;
}

footer span {
    box-sizing: border-box;
    padding: 10px;
    float: left;
}

footer span#right {
    float: right;
}

h2 {
 margin-left: 15px;
}