@import '../../constants/css/cssСonstans';

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $component-bg-color;
  font-size: 16px;
  border-radius: 3px;
  margin: 6px;
  width: 100%;
  min-height: 40px;

  &__container {
    display: inherit;
    width: 1200px;
    justify-content: space-between;
    padding: 0 12px;

    &__checkbox__switch {
      margin-left: 5px;
  }
}
}
